In [1]:
import pandas as pd
import sqlalchemy
import csv

In [2]:
engine = sqlalchemy.create_engine('mysql+pymysql://siorf:PMseis06@mysql.siorf.kinghost.net:3306/siorf')

In [3]:
#Não foi possível localizar as tabelas que deram origem à Proposta encaminhada à Sutes
#Os planos de aquisição encaminhados não coincidem com a proposta encaminhada à Sutes
#É importante que exista a classificação programática da tbl_FDFProposta, todavia não será possível informar os valores para 2021
#Para fazer uma classificação programática serão utilizadas as tabelas tbl_PropostaSetorial e tbl_Cadastro e Demandas
#Com as tabelas mescladas será possível estabelecer os critérios para definir os programas em que cada demanda se enquadra
Proposta1 = pd.read_sql_table('tbl_PropostaSetorial',engine)
Cadastro = pd.read_sql_table('tbl_CadastroDemandas',engine)
Proposta1.head(3)

,Id_PropostaSetorial,pps_CadastroDemanda,pps_Justificativa,pps_alinhamentoEstrategico,pps_Quantidade,pps_Valor,pps_Observacao,pps_UnidadeDemandante,pps_Exercicio
0,1,241,LEI N° 10.486/2002 E LEI N° 12.086/2022,1.2.1,126648,34843636.0,nan,DPPP,2021
1,2,223,LEI N° 840/2018/DECRETO 40.610/2030,1.2.1,370,18997202.0,nan,DPPP,2021
2,3,242,LEI N° 10.486/2002 E LEI N° 12.086/2023,1.2.1,126648,4421741.0,nan,DPPP,2021

In [4]:
Cadastro.head(3)

,Id_CadastroDemandas,cad_CodigoDemanda,cad_CoordenadorSetorial,cad_Descricao,cad_FCDFDespesaDetalhada,cad_GDFDespesaDetalhada,cad_ProdutoUnidade,cad_Periodicidade,cad_EspecieDisponibilidade,cad_Observacao,cad_DataInclusao
0,1,174,CCS,Aquisição de medalhas,33903105,,0.0,1.0,5.0,None,NaT
1,2,181,DOP,Taxas Anac,33904710,,0.0,1.0,1.0,None,NaT
2,3,182,DOP,Abastecimento de aeronaves,33903002,,0.0,1.0,1.0,None,NaT

In [6]:
Proposta2 = Proposta1.merge(Cadastro, left_on='pps_CadastroDemanda', right_on='Id_CadastroDemandas')

In [8]:
#Comando realizado para verificar se as tabelas mescladas estão corretas (durante a inserção da tabela PropostaSetorial verifiquei a duplicidade)
Proposta2.loc[Proposta2['pps_CadastroDemanda']==198]

,Id_PropostaSetorial,pps_CadastroDemanda,pps_Justificativa,pps_alinhamentoEstrategico,pps_Quantidade,pps_Valor,pps_Observacao,pps_UnidadeDemandante,pps_Exercicio,Id_CadastroDemandas,cad_CodigoDemanda,cad_CoordenadorSetorial,cad_Descricao,cad_FCDFDespesaDetalhada,cad_GDFDespesaDetalhada,cad_ProdutoUnidade,cad_Periodicidade,cad_EspecieDisponibilidade,cad_Observacao,cad_DataInclusao
45,46,198,LEI N° 10.486/2002 E LEI N° 12.086/2032,1.2.1,1800,450000.0,nan,DPPP,2021,198,61,DPP,Diária no País,33901514,33901514,256.0,1.0,1.0,None,NaT
46,47,198,LEI N° 840/2018/DECRETO 40.610/2026,1.2.1,330,100000.0,nan,DPPP,2021,198,61,DPP,Diária no País,33901514,33901514,256.0,1.0,1.0,None,NaT

In [18]:
#Construindo a tbl_FCDFProposta programa por programa
FCDFPropostaDLF = Proposta2.set_index('cad_CoordenadorSetorial')

In [39]:
FCDFPropostaDLF1 = FCDFPropostaDLF.loc[['CCS','DINFRA','DPTS', 'DCC', 'DEC','DITEL','CI','DOP'], ['Id_PropostaSetorial', 'pps_Quantidade', 'pps_Valor']]

In [44]:
FCDFPropostaDLF2 =FCDFPropostaDLF1.assign(Fonte='100', Função = '28', SubFunção = '845', Programa = '0903', Ação = '00NR', Subtítulo = '0053')

In [45]:
FCDFPropostaDLF2

,Id_PropostaSetorial,pps_Quantidade,pps_Valor,Fonte,Função,SubFunção,Programa,Ação,Subtítulo
cad_CoordenadorSetorial,,,,,,,,,
CCS,116,12,20000.0,100,28,845,0903,00NR,0053
CCS,117,6,20000.0,100,28,845,0903,00NR,0053
CCS,118,12,20000.0,100,28,845,0903,00NR,0053
CCS,119,1,150000.0,100,28,845,0903,00NR,0053
CCS,120,1,50000.0,100,28,845,0903,00NR,0053
...,...,...,...,...,...,...,...,...,...
DOP,193,0,40000.0,100,28,845,0903,00NR,0053
DOP,194,0,1200000.0,100,28,845,0903,00NR,0053
DOP,197,6,14000.0,100,28,845,0903,00NR,0053
DOP,202,0,900000.0,100,28,845,0903,00NR,0053
DOP,207,0,900000.0,100,28,845,0903,00NR,0053