In [1]:
import pandas as pd
import sqlalchemy
import csv

In [2]:
engine = sqlalchemy.create_engine('mysql+pymysql://siorf:PMseis06@mysql.siorf.kinghost.net:3306/siorf')

In [3]:
#Preciso remover o id_Proposta da tabaela Proposta Setorial e inserir o Código do Cadastro de Demandas do Banco em mysql
#preciso remover as colunas de priorização pois com os planos diretores priorizados o banco não terá a priorização na proposta
#e remover a priorização (melhor criar uma uma tabela temporária no banco pois a priorização do Plano diretor também é local)

In [4]:
#Primeiro abro a tbl_PropostaSetorial.csv etraida do acces e tranformo em df, importante lembrar que é necessário identificar o delimitador
# Salvo o resultado em uma variável
dfProposta = pd.read_csv('tbl_PropostasSetoriais2021.csv', delimiter = ';')
dfProposta

,Id_PropostaSetorial2021,pps_CodigoDemanda,pps_Justificativa,pps_AlinhamentoEstrategico,pps_Quantidade,pps_Valor,pps_Gravidade,pps_Tendencia,pps_Urgencia,pps_Observacao,pps_UnidadeDemandante,pps_Exercício
0,36,1,LEI N° 10.486/2002 E LEI N° 12.086/2022,1.2.1,126648.0,"34843636,2",5.0,5.0,5.0,NaN,DPPP,2021
1,18,2,LEI N° 840/2018/DECRETO 40.610/2030,1.2.1,370.0,"18997202,16",5.0,5.0,5.0,NaN,DPPP,2021
2,37,3,LEI N° 10.486/2002 E LEI N° 12.086/2023,1.2.1,126648.0,"4421741,52",5.0,5.0,5.0,NaN,DPPP,2021
3,38,4,LEI N° 10.486/2002 E LEI N° 12.086/2024,1.2.1,126648.0,"446097878,8",5.0,5.0,5.0,NaN,DPPP,2021
4,39,5,LEI N° 10.486/2002 E LEI N° 12.086/2025,1.2.1,126648.0,"240697190,8",5.0,5.0,5.0,NaN,DPPP,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
312,313,365,NaN,NaN,NaN,1200000,NaN,NaN,NaN,NaN,NaN,2021
313,314,366,NaN,NaN,NaN,3970000,NaN,NaN,NaN,NaN,NaN,2021
314,315,367,NaN,NaN,NaN,501200,NaN,NaN,NaN,NaN,NaN,2021
315,316,368,NaN,NaN,NaN,"2421586,93",NaN,NaN,NaN,NaN,NaN,2021
316,317,369,NaN,NaN,NaN,100000,NaN,NaN,NaN,NaN,NaN,2021

In [5]:
#Preciso remover o id_Proposta da tabaela Proposta Setorial e inserir o Código do Cadastro de Demandas do Banco em mysql
#e remover a priorização (melhor criar uma uma tabela temporária no banco pois a priorização do Plano diretor também é local)

dfPropostaLimpa = dfProposta.drop(columns=['Id_PropostaSetorial2021', 'pps_Gravidade','pps_Tendencia', 'pps_Urgencia'])
dfPropostaLimpa

,pps_CodigoDemanda,pps_Justificativa,pps_AlinhamentoEstrategico,pps_Quantidade,pps_Valor,pps_Observacao,pps_UnidadeDemandante,pps_Exercício
0,1,LEI N° 10.486/2002 E LEI N° 12.086/2022,1.2.1,126648.0,"34843636,2",NaN,DPPP,2021
1,2,LEI N° 840/2018/DECRETO 40.610/2030,1.2.1,370.0,"18997202,16",NaN,DPPP,2021
2,3,LEI N° 10.486/2002 E LEI N° 12.086/2023,1.2.1,126648.0,"4421741,52",NaN,DPPP,2021
3,4,LEI N° 10.486/2002 E LEI N° 12.086/2024,1.2.1,126648.0,"446097878,8",NaN,DPPP,2021
4,5,LEI N° 10.486/2002 E LEI N° 12.086/2025,1.2.1,126648.0,"240697190,8",NaN,DPPP,2021
...,...,...,...,...,...,...,...,...
312,365,NaN,NaN,NaN,1200000,NaN,NaN,2021
313,366,NaN,NaN,NaN,3970000,NaN,NaN,2021
314,367,NaN,NaN,NaN,501200,NaN,NaN,2021
315,368,NaN,NaN,NaN,"2421586,93",NaN,NaN,2021
316,369,NaN,NaN,NaN,100000,NaN,NaN,2021

In [6]:
# Para criar uma correspondencia entre o sequencia da proposta e da tabela cadastro vou classificar por demanda e depositar em uma variável
dfPropostaSortidaDemanda = dfPropostaLimpa.sort_values(by=['pps_CodigoDemanda'])

In [7]:
#Abro o Cadastro com o id a ser recuperado e armazeno em uma variável
dfCadastro = pd.read_sql_table('tbl_CadastroDemandas',engine)
dfCadastro

,Id_CadastroDemandas,cad_CodigoDemanda,cad_CoordenadorSetorial,cad_Descricao,cad_FCDFDespesaDetalhada,cad_GDFDespesaDetalhada,cad_ProdutoUnidade,cad_Periodicidade,cad_EspecieDisponibilidade,cad_Observacao,cad_DataInclusao
0,1,174,CCS,Aquisição de medalhas,33903105,,0,1,5,None,NaT
1,2,181,DOP,Taxas Anac,33904710,,0,1,1,None,NaT
2,3,182,DOP,Abastecimento de aeronaves,33903002,,0,1,1,None,NaT
3,4,183,DOP,Seguro das aeronaves da PMDF,33903969,,0,1,2,None,NaT
4,5,184,DOP,Alimentos para animais,33903006,,0,1,1,None,NaT
...,...,...,...,...,...,...,...,...,...,...,...
312,313,296,DINFRA,Pagamento de Taxas CREA/DF,33904710,,449,0,0,None,NaT
313,314,316,DITEL,Métrica e Mensuração de Software em regime de ...,33904015,,449,0,0,None,NaT
314,315,317,DITEL,Fábrica de software - contratação de empresa e...,33904008,,449,0,0,None,NaT
315,316,314,DITEL,CONTRATO - Link de internet - contratação de l...,33903958,,450,0,0,None,NaT
316,317,90,DPGC,Serviço de Gestão hospitalar/ Engenharia Clínica,33903905,,502,0,5,None,NaT

In [8]:
#Classifico pelo Codigo da demanda e atribuir a uma variável
dfCadastroSortidoDemanda = dfCadastro.sort_values(by=['cad_CodigoDemanda'])
dfCadastroSortidoDemanda

,Id_CadastroDemandas,cad_CodigoDemanda,cad_CoordenadorSetorial,cad_Descricao,cad_FCDFDespesaDetalhada,cad_GDFDespesaDetalhada,cad_ProdutoUnidade,cad_Periodicidade,cad_EspecieDisponibilidade,cad_Observacao,cad_DataInclusao
240,241,1,DPP,Adicional por Tempo de Serviço de Pessoal Civil,31900109,,261,1,1,None,NaT
222,223,2,DPP,Gratificação Natalícia Incorporada por Pessoal...,,31900112,261,1,1,None,NaT
241,242,3,DPP,Complementação de Aposentadoria de Pessoal Mil...,31900115,,261,1,1,None,NaT
242,243,4,DPP,Vantagem Pecuniária Especial de Pessoal Milita...,31900117,,261,1,1,None,NaT
243,244,5,DPP,Proventos de Pessoal Militar Inativo,31900121,,261,1,1,None,NaT
...,...,...,...,...,...,...,...,...,...,...,...
103,104,365,DPGC,Material Farmacológico,33903009,,0,0,0,None,NaT
104,105,366,DPGC,"Aparelhos, Equipamentos e Utensílios Médicos, ...",44905208,,0,0,0,None,NaT
105,106,367,DAO,Manutenção e Conservação de Máquinas e Equipam...,33903917,,0,0,0,None,NaT
106,107,368,DAO,Serviços Técnicos Profissionais,33903905,,0,0,0,None,NaT
107,108,369,DPTS,Lubrificantes,33903001,,0,0,0,None,NaT

In [13]:
colunaIdCadastro = dfCadastroSortidoDemanda['Id_CadastroDemandas']
colunaIdCadastro

240    241
222    223
241    242
242    243
243    244
      ...
103    104
104    105
105    106
106    107
107    108
Name: Id_CadastroDemandas, Length: 317, dtype: int64

In [15]:
#agora tenho que selecionar apenas a coluna Id_cadastroDemandas e inseri-la na dfCadastro na ordem em que se encontra.
tbl_PropostaSetorialPronta = dfPropostaSortidaDemanda.insert(1,"Id_CadastroDemandas",colunaIdCadastro)
tbl_PropostaSetorialPronta

In [16]:
print(tbl_PropostaSetorialPronta)

None